@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Lato&family=Poppins&family=Varela+Round&display=swap');
*{
    font-family: 'poppins';
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.App{
  background-color:#EFF2F1;
}

.header{
    position: relative;
  
}

.nav{
    /* background-color: #d9d9d9; */
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    height:60px;
    margin:0 auto;
}

.logo{
height:50px;
width:60px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    gap:2rem;
    align-items: center;
}
 
.nav-item{
    color:black;
    font-size: 1rem;
    border-radius: none;
    transition: all 300ms ease-in ;
}
.nav-item:hover{
 color:#fe4a49;
 cursor: pointer;
 
}

.mob-bars-profile{
   display: none;
}

.bars{
    font-size: 25px;
}

.menu{
    box-shadow: 1px 1px 5px 1px whitesmoke;
    position: absolute;
    top:60px;
    right:2rem;
    border-radius:5px;
    background-color: rgba(225,225,225,0.4);
    width:300px;
    display: none;
    height:0px;
    z-index: 1;
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: height 150ms ease-in;
}

.open{
    height:220px;
}

.menu .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    transition: all 400ms ease;
}

.menu .nav-item:hover{
   background-color: black;
   color:white;
   }

@media (max-width:720px){
    .mob-bars-profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .nav .nav-links{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media (max-width:450px){
    .menu{
       width:unset;
       left: 2rem;
    }
}

/* home section */
.headroom-container{
  /* padding:0 2rem; */
}
#homesection{
 
  height:100vh;
  width:100%;
  max-width: 1400px;
  margin: 0 auto;
  padding:0 2rem;
}
.main-heading{
  font-size: 74px;
  font-family: "varela round" !important;
}
.color-name{
  color:#fe4a49;
  font-family: "varela round" !important;
  font-weight: bolder;
}
.description{
  display: flex;
  flex-direction: column;
  width:580px;
  align-self: flex-end;
}
.tagline{
  align-self: flex-end;
}
.curve-image{
  width:100px;
  height:100px;
  display:absolute;
  top:0;
  
}
.curve-para{
  display: flex;
  height:180px;
  
}
.column-1{
  display: flex;
  flex-direction: column;
  width:70%;
  height:50vh;;
}
.column-2{
  align-self: flex-end;
}
.lets-colab{
  color:#fe4a49;
  margin:0px;
}
.colabarrow{
  font-size: 20px;
  color:#fe4a49;
  margin-left: 5px;

}
.colab-btn-arrow{
 display: flex;
 align-items: center;
 margin-left: 100px;
 margin-top: 90px;
}
.homelottie{
  width:100%;
}
.main-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vertical-line{
  border-left: 2px solid #d9d9d9;
  height:30vh;
  border-radius: 5px;
}
.social-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  #d9d9d9;
}
.column-3{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.social-icon{
  font-size: 25px;
  margin-bottom: 40px;

}
.social-icons .social-icon:last-child{
 margin-bottom: 0px;
}
.scroll-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mouse-icon{
  font-size: 20px;
}
.scroll-para{
  font-size: 15px;
  margin: 0px;
}
.downarr-icon{
  font-size: 25px;
  color:#fe4a49;
}
@media(max-width:1280px){
  .column-1{
    width:50%;
  }
  .column-2{
    width:40%;
 }
  .column-3{
     width:10%;
  }
  .main-heading{
    font-size: 70px;
  }
  .description-para{
    font-size: 14px;
  }
  .tagline{
    font-size: 14px;
  }
  .lets-colab{
    font-size: 12px;
  }
  .colabarrow{
    font-size: 18px;
  
  }
}

@media(max-width:1280px){
  .column-1{
    width:55%;
  }
  .main-heading{
    font-size: 60px;
  }
  .description-para{
    font-size: 12px;
  }
  .tagline{
    font-size: 12px;
  }
  .column-2{
    width:40%;
  }
  .column-3{
    width:5%;
 }
 .homelottie{
  height:400px;
  width:400px;
}
.curve-image{
  width:70px;
  height:70px;
}
.lets-colab{
  font-size: 12px;
}
.colabarrow{
  font-size: 18px;

}
}


@media(max-width:850px){
  .column-1{
    width:50%;
  }
  .main-heading{
    font-size: 50px;
  }
  .description-para{
    font-size: 12px;
  }
  .tagline{
    font-size: 10px;
  }
  .column-2{
    width:40%;
  }
  .column-3{
    width:5%;
 }
 .homelottie{
  width:100%;
}
.curve-image{
  width:65px;
  height:65px;
}
.lets-colab{
  font-size: 12px;
}
.colabarrow{
  font-size: 18px;

}
}
@media(max-width:750px){
  .main-heading{
    font-size: 45px;
  }
  .homelottie{
    height:350px;
    width:350px;
  }

}
@media(max-width:700px){
  .main-heading{
    font-size: 45px;
  }
  .homelottie{
    width:100%;
  }
  .column-1{
    width:50%;
  }
  .column-2{
    width:40%;
    align-self: flex-start;
  }
  .main-section{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

}
@media(max-width:700px){
  .main-section{
   position: relative;
  }
  .main-heading{
    font-size: 40px;
  }
  .homelottie{
    width:100%;
  }
  .column-1{
    width:80%;
  }
  .column-2{
    position: absolute;
    bottom: 100px;
    width:200px;
  }
  .colab-btn-arrow{

    margin-top: 150px;
   }
   .social-icon{
    font-size: 20px;
    margin-bottom: 40px;
  
  }
  .vertical-line{
    border-left: 1.5px solid #d9d9d9;
  }

}
@media(max-width:460px){

  .column-2{
    bottom: 40px;
  }
  .social-icon{
    font-size: 18px;
    margin-bottom: 40px;
  
  }
  .vertical-line{
    border-left: 1px solid #d9d9d9;
  }
  .column-1{
    width:90%;
  }
  .description-para{
    font-size: 10px;
  }
  .tagline{
    font-size: 9px;
  }  
  .curve-image{
    width:50px;
    height:50px;
  }
}
/* __________________Project section___________________________ */
.projectsection{
  width:100%;
  max-width: 1400px;
  margin: 0 auto;
  padding:0 2rem;
}
.header-section{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.project-section-header{
  font-size: 34px;
  font-weight: bold;
  margin-right: 8px;
}
.projecticon{
  font-size: 36px;
  color:#fe4a49;
  margin-bottom: 10px;
}

.project-card{
  background-color: #d9d9d9;
  width:90%;
  padding:20px;
  border-radius: 20px;
  /* box-shadow: 4px 2px 2px 1px #d9d9d9; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-card-description{
  background-color:white;
  border-radius: 10px;
  height:40vh;
  margin-top: 20px;
  padding: 20px;
}
.project-name{
  color:gray;
  font-size: 25px;
  font-weight: lighter;
}
.project-container{
  width:100%;
  margin-top: 20px;
  transition:  transform 1s ;
}
.project-container:hover{
transform: scale(1.015);
}
.p-wedget-heading{
  font-size: 16px;
  font-weight: bold;
  color:black;
  margin:0px;
}
.p-wedget-para{
  font-size: 12px;
}
.seting-icon{
  font-size: 25px;
  margin:3px 0px 0px 0px;
  color:white;
}
.heading-and-icon{
  background-color: #FFA2A1 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:200px;
  height:36px;
  padding:5px;
  border-radius: 15px;
}
.settin-icon-container{
  height:30px;
  background-color: #fe4a49;
  border-radius: 30px;
  padding:0px;
  width:30px;
  text-align: center;
  margin:0px;
}
.p-wedget-para{
  margin-top: 5px;
  font-size: 15px;
  color:gray;
}
.project-description{
  color:gray;
  font-size: 15px;
  margin-top: 5px;
}
.project-description-heading{
 font-size: 25px;
 font-weight: bold;
 margin: 0px;
}
.emoji-gif{
  width:100%;
  height:300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.projects-container{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.project-link{
  text-decoration: none;
  color: #fe4a49;
  font-weight: bold;
}
@media(max-width:1000px){
  .project-name{
    font-size: 20px;
  }
  .project-description-heading{
    font-size: 20px;
  }
  .project-description{
    font-size: 12px;
  }
  .click-para{
    font-size: 14px;
  }

}

@media(max-width:850px){
  .project-name{
    font-size: 18px;
  }
  .project-description-heading{
    font-size: 20px;
  }
  .project-description{
    font-size: 10px;
  }
  .p-wedget-para{
    font-size:12px;
  }
  .click-para{
    font-size: 12px;
  }
}

@media(max-width:680px){
  .project-name{
    font-size: 14px;
  }
  .project-description-heading{
    font-size: 18px;
  }
  .project-description{
    font-size: 10px;
  }
  .p-wedget-para{
    font-size:12px;
  }
  .click-para{
    font-size: 12px;
  }

}
@media(max-width:680px){

  .projects-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-card{
    width:100%;
  }

  }

/* ________________________________________Education section___________________________________ */
.education-section{
  height:100vh;
  width:100%;
  max-width: 1400px;
  margin: 0 auto;
  padding:0 2rem;
}
.chrono-icon{
  background-color: #EFF2F1;
  font-size: 30px;
}
.education-card{
  border:0.5px solid gray;
  padding:10px;
  transition: transform 0.5s;
}
.education-card:hover{
  transform: scale(1.05);
}
.education-ins-name{
  font-size: 25px;
  font-weight: bold;
}
.gpa{
  color:#fe4a49;
  font-weight: bold;
}
.ins-cource{
  color:gray;
}

/* ___________________________________________contact container______________________________ */

.contact-form-container{
  height:100vh;
  width:100%;
  max-width: 1400px;
  margin: 0 auto;
  padding:0 2rem; 
  padding-top: 20px;
  position: relative;
  }

.s-letter{
  color: #fe4a49;
}
.contact-lottie{
  width:50%;
}
.contact-form{
  display: flex;
  flex-direction:column;
  width:50%;

}
.contact-main-bg{
  display: flex;
  align-items: center;


}
.widget-1{
  width:90%;
  background-color: #d9d9d9;
  border:none;
  border-radius: 5px;
  height:60px;
  padding:10px;
  outline: none;
  margin-bottom: 10px;
}
.widget-2{
  width:90%;
  background-color: #d9d9d9;
  border:none;
  border-radius: 5px;
  height:250px;
  padding-left: 5px;
  outline: none;
  margin-bottom: 10px;
}
.contact-button{
  width:90%;
  border:1px solid #fe4a49;
  background-color: transparent;
  /* border:none; */
  border-radius: 5px;
  height:60px;
  padding:10px;
  outline: none;
  margin-bottom: 10px;
}
.whatsapp{
  width:50px;
  height:50px;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.whatsapplogo{
  width:50px;
  height:50px;
}
.nav-links .nav-item{
  list-style-type: none;
}
@media(max-width:460px){
  .contact-form{
  margin-bottom: 50px;
  }
  .contact-lottie{
    display: none;
  }
  .contact-form{
    width:100%;
  }
  .widget-1{
    width:100%;
  }
  .widget-2{
    width:100%;
  }
  .contact-button{
    width:100%;
  }
  .contact-form-container{
    height:auto;
    margin-bottom: 30px;
  }
}
@media(max-width:1240){
  .whatsapp{
    bottom: 0px;
    left: 0px;
  }
}

/* ___________________________________skill and service container_________________________________ */
.skill-service-container{
  /* padding-top: 310px; */
  height:50vh;
  width:100%;
  max-width: 1400px;
  margin: 0 auto;
  padding:0 2rem; 
  padding-top: 50px; 
  margin-bottom: 30px;
}
.service-card{
  border: 0.3px solid gray;
  padding: 10px;
  width:200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  height:250px;
}
.service-img{
  width:50px;
}
.service-heading{
  font-size: 20px;
  font-weight: bold;
}
.horizontal-line-skill{
width:150px;
color:gray;
}
.skill-container{
  list-style-type: disc;
  color:gray;
}
.marque-container{
  display: flex;
  justify-content: space-around;
  width:100%
}
.servicelottie{
  width:200px;
  margin-bottom: 20px;
}

.linkitem{
  text-decoration: none;
  color:black;
}


.footer-social-icons{
  display: flex;
  flex-direction: row; 
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:80%;
}

.footer-icon{
  font-size: 30px;
  margin-left: 15px;
}
.footer-section{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insicon{
  font-size: 32px;
} 

.contact-link-colab{
  color:#fe4a49;
  text-decoration: none;
}
.social-icon-link{
  color:#d9d9d9;
   margin-bottom: 15px;
}
.footer-social-icon-link{
  color:black;
}

